<?xml version="1.1"?>
<settings xmlns:split = "http://portonvictor.org/ns/split">
  <!-- Settings in <chapter-page> and <toc-page> take precedence over settings in <generic-page>. -->
  <skip-chapters>0</skip-chapters>
  <chapter-tag/> <!-- not specified, use heuristics -->
  <toc-filename>toc.html</toc-filename>
  <chapter-filename>chapter<number/>.html</chapter-filename>
  <skip-chapter-header>no</skip-chapter-header>
  <toc-content>
    <ol xmlns="http://www.w3.org/1999/xhtml"><split:toc/></ol>
   </toc-content>
  <generic-page>
    <files>
      <wrapper>wrapper.xml</wrapper> <!-- main file -->
    </files>
    <strip-style>no</strip-style>
    <ignore-head>no</ignore-head>
  </generic-page>
  <chapter-page>
    <header><split:doc-title/>: <split:chapter-title/></header> <!-- for using in <h1> or <h2> -->
    <macros>
      <full-title><split:doc-title/>: <split:chapter-title/></full-title> <!-- for using in <title> -->
    </macros>
    <files>
    </files>
  </chapter-page>
  <toc-page>
    <macros>
      <full-title>ToC of <split:doc-title/></full-title> <!-- for using in <title> -->
    </macros>
    <files>
    </files>
  </toc-page>
</settings>
